body{
    color:white;
    background:RED(139,5,5);
    font-family: 'faculty glyphic,'serif;
}

CHAMADA{
background:red ;
padding-bottom: 80PX ;
padding-top: 80PX ;
display: flex;
justify-content: center;
}

.categoria {
padding-left: 20px;
padding-right: 20px;
}

div {
margin-right: 20px;
}

.chamada-texto {
margin-right: 5%;
margin-left: 5%;
}

img {
height: 200px;
}

.categoria-videos {
display: flex;
overflow-x: auto;
gap: 10px;
}

h1 {
font-size: 30px;
}

p {
font-size: 20px;
}