body{
    color:white;
    background:RED(139,5,5);
    font-family: 'faculty glyphic,'serif;
}

CHAMADA{
background:red ;
padding-bottom: 80PX ;
padding-top: 80PX ;
display: flex;
justify-content: center;
}